@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-gray-50; */

  .router-link-exact-active {
    color: #12b488;
  }
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-4 py-2 rounded-md text-sm;
  }
  .card {
    @apply bg-white rounded-lg shadow-md p-4 h-full;
  }
}
